div{
    font-weight:bold;
    font-style:italic;
}
nav{
    height:100px;
    position:fixed;
    
}

#spotify-title{
    margin:auto;
    color:white;
    font-size:25px;
}

.card img:hover{
    opacity:0.5;
    background-color:black;
}